*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-image: url(https://media.istockphoto.com/id/1033277722/photo/textbooks-on-wooden-school-desk-with-chalkboard.jpg?b=1&s=170667a&w=0&k=20&c=lvUVsgM4clrr1oNg_En7NVUYoqnPFosvYJffAuokArY=); */
    background-color: blueviolet; 
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    /* background-color:#ffbe76; */
    background-color: #2d3436;
    color: white;
    

}
header .left{
    width: 70%;
    
}
header .right{
    width: 30%;
   
}
header .right a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bold;
}
#search_box{
    width: 60%;
    background-color: blue;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search_box #country_name{
    width: 90%;
    height: 100%;
    border-radius:20px 0 0 20px ;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}


#search_box #serchBTN{
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
    font-size: larger;
    border-radius: 0 20px 20px 0 ;
    cursor: pointer;
}
#search_box.hide{
    display: none

}
.cards{
    width: 90%;
    padding: 10px;
    margin-top: 100px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    border-radius: 10px;
}
.cards.show{
    display: flex;
}
.card{
    width: 30%;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 5px 5px 22px 12px rgba(0,0,0,0.76);
    -webkit-box-shadow: 5px 5px 22px 12px rgba(0,0,0,0.76);
    -moz-box-shadow: 5px 5px 22px 12px rgba(0,0,0,0.76);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card h1{
    font-size: 25px;
    text-align: center;
}
.card .flex{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card .flex span{
    padding: 10px;
    background-color: rgb(194, 26, 32);
    color: aliceblue;
    border-radius: 10px;
}








